*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     body{
        width: 100%;
        main{
            border: 2px solid black;
            width: 40%;
        }
        section{
            border: 2px solid black;
            width: 30%;
        }
        footer{
            border: 2px solid black;
            width: 30%;
        }
     }
}