*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     body{
        width: 100%;
        main{
            display: none;
        }
        section{
            display: none;
        }
        footer{
            border: none;
            background-color: rgb(44, 44, 44);
            width: 100%;
            height: 260px;
            padding: 20px;
            margin-top: 31%;
        h1{
            text-align: center;
            color: white;
        }
        .p{
            width: 30%;
            // height: 10px;
            margin: 0 auto;
            p{
                text-align: center;
                padding-top: 10px;
                color: white;
            }
            .svg{
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    width: 20px;
                    height: 30px;
                    margin: 0 auto;
                }
            }
        }
        .nav-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            padding-top: 20px;
            .footer{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                p{
                    color: white;
                }
                a{
                    text-decoration: none;
                    color: cyan;
                }
            }
            .menu{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                li{
                   list-style: none;
                   a{
                    text-decoration: none;
                    color: white;
                   }
                }
            }
        }
     }
    }
}